/venv
/.idea
/pastebin/.env
/pastebin/.env.prod
/pastebin/log_file.log
/pastebin/requirements.txt
/pastebin/selectel.txt
/requirements.txt
/.env
/.env.prod
/rabbitmq
/pastebin-schema.png
/README.md
/rabbitmq.conf
/pastebin_authentication_service/.env
/pastebin_authentication_service/.env.test
/pastebin_hash_generator/.env
/pastebin_hash_generator/.env.test